@import "colors";

/****************************************************************
 * Navbar
 */

.header__nav {
  font-size: 0.9em;
  padding-top: 20px;
  padding-left: 1rem;

  a.active {
    color: orange;
  }
}


/****************************************************************
 * Footer
 */

footer {
  font-size: 0.9em;
  background-color: $dark;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}